<a href="https://colab.research.google.com/github/Ddshsp/lab/blob/main/%D0%A8%D0%94%D0%94_%D0%9B%D0%A06_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install "pymongo[srv]"==3.12 dnspython colorama -q

In [2]:
envs=["MONGO_USER","MONGO_PASSWORD","MONGO_DBNAME","MONGO_COLLECTIONNAME"]
from google.colab import userdata
globals().update(
    dict(
        list(
            map(lambda x: (x, userdata.get(x)),envs)
        )
    )
)
MONGO_URL = f"mongodb+srv://{MONGO_USER}:{MONGO_PASSWORD}@cl.z620m.mongodb.net/?retryWrites=true&w=majority&appName=Cl"

In [3]:
from pymongo import MongoClient

In [4]:
db = (client := MongoClient(MONGO_URL))[MONGO_DBNAME][MONGO_COLLECTIONNAME]
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [5]:
import requests
vacancies = requests.get('https://api.hh.ru/vacancies', params={
    'area': [1, 2, 3],
    'per_page': 20,
}).json()['items'][:20]

In [6]:
for vacancy in vacancies:
    if not db.find_one({'id': vacancy['id']}):
        db.insert_one(vacancy)
for i in db.find({},{"salary.from","salary.to"}):
  print(i)

{'_id': ObjectId('674cea2d5399646ca212fa87'), 'salary': {'from': 170000, 'to': 230000}}
{'_id': ObjectId('674cea2d5399646ca212fa88'), 'salary': {'from': 200000, 'to': None}}
{'_id': ObjectId('674cea2d5399646ca212fa89'), 'salary': {'from': 100000, 'to': 120000}}
{'_id': ObjectId('674cea2e5399646ca212fa8a'), 'salary': {'from': 185000, 'to': 350000}}
{'_id': ObjectId('674cea2e5399646ca212fa8b'), 'salary': {'from': 85300, 'to': 250000}}
{'_id': ObjectId('674cea2e5399646ca212fa8c'), 'salary': {'from': 60000, 'to': 80000}}
{'_id': ObjectId('674cea2e5399646ca212fa8d'), 'salary': {'from': 300000, 'to': 350000}}
{'_id': ObjectId('674cea2e5399646ca212fa8e'), 'salary': {'from': 38400, 'to': 57600}}
{'_id': ObjectId('674cea2f5399646ca212fa8f'), 'salary': {'from': 200000, 'to': None}}
{'_id': ObjectId('674cea2f5399646ca212fa90'), 'salary': {'from': None, 'to': 120000}}
{'_id': ObjectId('674cea2f5399646ca212fa91'), 'salary': {'from': 260000, 'to': 430999}}
{'_id': ObjectId('674cea2f5399646ca212fa92'), 'salary': {'from': 40000, 'to': 80000}}
{'_id': ObjectId('674cea2f5399646ca212fa93')}
{'_id': ObjectId('674cea305399646ca212fa94'), 'salary': {'from': 150000, 'to': 150000}}
{'_id': ObjectId('674cea305399646ca212fa95'), 'salary': {'from': 300000, 'to': 450000}}
{'_id': ObjectId('674cea305399646ca212fa96'), 'salary': {'from': 120000, 'to': None}}
{'_id': ObjectId('674cea305399646ca212fa97'), 'salary': {'from': 120000, 'to': None}}
{'_id': ObjectId('674cea315399646ca212fa98'), 'salary': {'from': 250000, 'to': 340000}}
{'_id': ObjectId('674cea315399646ca212fa99'), 'salary': {'from': 11000, 'to': None}}
{'_id': ObjectId('674cea315399646ca212fa9a')}

In [7]:
import json
li = [dict,list,tuple,str,int,float,bool]
from colorama import Fore, Style, init

# Initialize colorama
init(autoreset=True)

def printj(i: dict,indent:int=2):
  di = {}
  for key, value in i.items():
    if type(value) in li:
      di[key] = value
  colored_json_str = ""
  json_str = json.dumps(di, indent=indent)
  for line in json_str.splitlines():
      if line.strip().startswith('"'):
          colored_json_str += Fore.CYAN + line + Style.RESET_ALL + '\n'
      elif line.strip().startswith('{') or line.strip().startswith('}'):
          colored_json_str += Fore.YELLOW + line + Style.RESET_ALL + '\n'
      elif line.strip().startswith('[') or line.strip().startswith(']'):
          colored_json_str += Fore.YELLOW + line + Style.RESET_ALL + '\n'
      elif ':' in line:
          colored_json_str += Fore.MAGENTA + line + Style.RESET_ALL + '\n'
      else:
          colored_json_str += line + '\n'
  print(colored_json_str)

In [8]:
def calc(i: dict) -> float:
  if i["from"]:
    if i["to"]:
      return (i["from"]+i["to"])/2
    return i["from"]
  return i["to"]
for i in db.find({},{"salary.from","salary.to"}):
  _id = i["_id"]
  if i.get("salary") is None:
    continue
  db.update_one({"_id":_id},{
          "$set":{
              "salary": calc(i["salary"])
          }
      })
for i in db.find({},{"salary"}):
  print(i)

{'_id': ObjectId('674cea2d5399646ca212fa87'), 'salary': 200000.0}
{'_id': ObjectId('674cea2d5399646ca212fa88'), 'salary': 200000}
{'_id': ObjectId('674cea2d5399646ca212fa89'), 'salary': 110000.0}
{'_id': ObjectId('674cea2e5399646ca212fa8a'), 'salary': 267500.0}
{'_id': ObjectId('674cea2e5399646ca212fa8b'), 'salary': 167650.0}
{'_id': ObjectId('674cea2e5399646ca212fa8c'), 'salary': 70000.0}
{'_id': ObjectId('674cea2e5399646ca212fa8d'), 'salary': 325000.0}
{'_id': ObjectId('674cea2e5399646ca212fa8e'), 'salary': 48000.0}
{'_id': ObjectId('674cea2f5399646ca212fa8f'), 'salary': 200000}
{'_id': ObjectId('674cea2f5399646ca212fa90'), 'salary': 120000}
{'_id': ObjectId('674cea2f5399646ca212fa91'), 'salary': 345499.5}
{'_id': ObjectId('674cea2f5399646ca212fa92'), 'salary': 60000.0}
{'_id': ObjectId('674cea2f5399646ca212fa93'), 'salary': None}
{'_id': ObjectId('674cea305399646ca212fa94'), 'salary': 150000.0}
{'_id': ObjectId('674cea305399646ca212fa95'), 'salary': 375000.0}
{'_id': ObjectId('674cea305399646ca212fa96'), 'salary': 120000}
{'_id': ObjectId('674cea305399646ca212fa97'), 'salary': 120000}
{'_id': ObjectId('674cea315399646ca212fa98'), 'salary': 295000.0}
{'_id': ObjectId('674cea315399646ca212fa99'), 'salary': 11000}
{'_id': ObjectId('674cea315399646ca212fa9a'), 'salary': None}

In [9]:
low_salary_vacancies = db.find({'salary': {'$lt': 40000}})
for vacancy in low_salary_vacancies:
    printj(vacancy)

{
  "id": "112261715",
  "premium": false,
  "name": "\u041e\u043f\u0435\u0440\u0430\u0442\u043e\u0440 \u0431\u0430\u0437\u044b \u0434\u0430\u043d\u043d\u044b\u0445 \u0432 \u0437\u043e\u043e\u043c\u0430\u0433\u0430\u0437\u0438\u043d",
  "has_test": false,
  "response_letter_required": false,
  "area": {
    "id": "2",
    "name": "\u0421\u0430\u043d\u043a\u0442-\u041f\u0435\u0442\u0435\u0440\u0431\u0443\u0440\u0433",
    "url": "https://api.hh.ru/areas/2"
  },
  "salary": 11000,
  "type": {
    "id": "open",
    "name": "\u041e\u0442\u043a\u0440\u044b\u0442\u0430\u044f"
  },
  "published_at": "2024-12-01T14:03:41+0300",
  "created_at": "2024-12-01T14:03:41+0300",
  "archived": false,
  "apply_alternate_url": "https://hh.ru/applicant/vacancy_response?vacancyId=112261715",
  "url": "https://api.hh.ru/vacancies/112261715?host=hh.ru",
  "alternate_url": "https://hh.ru/vacancy/112261715",
  "relations": [],
  "employer": {
    "id": "5579358",
    "name": "\u0417\u043e\u043e\u043a\u043e\u0440\u043c-98",
    "url": "https://api.hh.ru/employers/5579358",
    "alternate_url": "https://hh.ru/employer/5579358",
    "logo_urls": {
      "240": "https://img.hhcdn.ru/employer-logo/7067327.png",
      "90": "https://img.hhcdn.ru/employer-logo/7067326.png",
      "original": "https://img.hhcdn.ru/employer-logo-original/1361854.png"
    },
    "vacancies_url": "https://api.hh.ru/vacancies?employer_id=5579358",
    "accredited_it_employer": false,
    "trusted": true
  },
  "snippet": {
    "requirement": "\u041e\u043f\u044b\u0442 \u0440\u0430\u0431\u043e\u0442\u044b \u0436\u0435\u043b\u0430\u0442\u0435\u043b\u0435\u043d \u0432 EX\u0421EL. - \u0418\u043c\u0435\u0442\u044c \u041f\u041a \u0438 \u0441\u043e\u0442\u043e\u0432\u044b\u0439 \u0442\u0435\u043b\u0435\u0444\u043e\u043d \u043f\u043e\u0434 \u0440\u0443\u043a\u043e\u0439. -\u0441\u043a\u0430\u0447\u0430\u0442\u044c WhatsApp. - \u041a\u043e\u043c\u043c\u0443\u043d\u0438\u043a\u0430\u0431\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u044c, \u0432\u0435\u0436\u043b\u0438\u0432\u043e\u0441\u0442\u044c, \u0432\u043d\u0438\u043c\u0430\u0442\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u044c, \u0441\u0442\u0440\u0435\u0441\u0441\u043e\u0443\u0441\u0442\u043e\u0439\u0447\u0438\u0432\u043e\u0441\u0442\u044c.",
    "responsibility": "\u043a\u043e\u043f\u0438\u0440\u043e\u0432\u0430\u0442\u044c \u0438 \u0432\u0441\u0442\u0430\u0432\u043b\u044f\u0442\u044c \u0432 EX\u0421EL \u0437\u0430\u043a\u0430\u0437\u044b. - \u043f\u0440\u043e\u0437\u0432\u0430\u043d\u0438\u0432\u0430\u0442\u044c \u0431\u0430\u0437\u0443 \u043d\u0430\u0448\u0438\u0445 \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432. ( \u043d\u0435 \u0447\u0430\u0449\u0435 \u043e\u0434\u043d\u043e\u0433\u043e \u0440\u0430\u0437\u0430 \u0432 \u043d\u0435\u0434\u0435\u043b\u044e). - \u043f\u043e\u0440\u0443\u0447\u0435\u043d\u0438\u044f \u0440\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044f. - "
  },
  "schedule": {
    "id": "remote",
    "name": "\u0423\u0434\u0430\u043b\u0435\u043d\u043d\u0430\u044f \u0440\u0430\u0431\u043e\u0442\u0430"
  },
  "working_days": [],
  "working_time_intervals": [],
  "working_time_modes": [],
  "accept_temporary": true,
  "professional_roles": [
    {
      "id": "40",
      "name": "\u0414\u0440\u0443\u0433\u043e\u0435"
    }
  ],
  "accept_incomplete_resumes": true,
  "experience": {
    "id": "noExperience",
    "name": "\u041d\u0435\u0442 \u043e\u043f\u044b\u0442\u0430"
  },
  "employment": {
    "id": "part",
    "name": "\u0427\u0430\u0441\u0442\u0438\u0447\u043d\u0430\u044f \u0437\u0430\u043d\u044f\u0442\u043e\u0441\u0442\u044c"
  },
  "is_adv_vacancy": false
}

In [10]:
db.update_many(
    {'salary': None},
    {'$set': {'salary': 35000}}
)
for i in db.find({},{"salary"}):
  print(i)

{'_id': ObjectId('674cea2d5399646ca212fa87'), 'salary': 200000.0}
{'_id': ObjectId('674cea2d5399646ca212fa88'), 'salary': 200000}
{'_id': ObjectId('674cea2d5399646ca212fa89'), 'salary': 110000.0}
{'_id': ObjectId('674cea2e5399646ca212fa8a'), 'salary': 267500.0}
{'_id': ObjectId('674cea2e5399646ca212fa8b'), 'salary': 167650.0}
{'_id': ObjectId('674cea2e5399646ca212fa8c'), 'salary': 70000.0}
{'_id': ObjectId('674cea2e5399646ca212fa8d'), 'salary': 325000.0}
{'_id': ObjectId('674cea2e5399646ca212fa8e'), 'salary': 48000.0}
{'_id': ObjectId('674cea2f5399646ca212fa8f'), 'salary': 200000}
{'_id': ObjectId('674cea2f5399646ca212fa90'), 'salary': 120000}
{'_id': ObjectId('674cea2f5399646ca212fa91'), 'salary': 345499.5}
{'_id': ObjectId('674cea2f5399646ca212fa92'), 'salary': 60000.0}
{'_id': ObjectId('674cea2f5399646ca212fa93'), 'salary': 35000}
{'_id': ObjectId('674cea305399646ca212fa94'), 'salary': 150000.0}
{'_id': ObjectId('674cea305399646ca212fa95'), 'salary': 375000.0}
{'_id': ObjectId('674cea305399646ca212fa96'), 'salary': 120000}
{'_id': ObjectId('674cea305399646ca212fa97'), 'salary': 120000}
{'_id': ObjectId('674cea315399646ca212fa98'), 'salary': 295000.0}
{'_id': ObjectId('674cea315399646ca212fa99'), 'salary': 11000}
{'_id': ObjectId('674cea315399646ca212fa9a'), 'salary': 35000}

In [11]:
db.delete_many({'salary': {'$gt': 50000}})
print(len(list(db.find({}))))

4

In [12]:
for i in db.find({"area.name":"Москва"},{"id","area.name","salary"}):
  printj(i)
res = db.aggregate( [
    {'$match': {'area.name': 'Москва'}},
    {'$group': {
        '_id': None,
        'total_salary': {'$sum': '$salary'}
    }}
])
for i in res:
  print(i)

{
  "id": "111711814",
  "area": {
    "name": "\u041c\u043e\u0441\u043a\u0432\u0430"
  },
  "salary": 48000.0
}

{
  "id": "99579827",
  "area": {
    "name": "\u041c\u043e\u0441\u043a\u0432\u0430"
  },
  "salary": 35000
}

{
  "id": "112160377",
  "area": {
    "name": "\u041c\u043e\u0441\u043a\u0432\u0430"
  },
  "salary": 35000
}

{'_id': None, 'total_salary': 118000.0}

In [13]:
sorted_vacancies = db.find({},{"id","salary"}).sort('salary', -1)
for vacancy in sorted_vacancies:
    printj(vacancy)

{
  "id": "111711814",
  "salary": 48000.0
}

{
  "id": "99579827",
  "salary": 35000
}

{
  "id": "112160377",
  "salary": 35000
}

{
  "id": "112261715",
  "salary": 11000
}

In [14]:
res = db.create_index('id')
print(res)

id_1

In [15]:
db.delete_many({})